DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=questhub
DB_PORT=5433

QUESTHUB_POSTGRES_HOST=localhost
QUESTHUB_POSTGRES_PORT=5433
QUESTHUB_POSTGRES_USER=postgres
QUESTHUB_POSTGRES_PASSWORD=postgres
QUESTHUB_POSTGRES_DBNAME=questhub
QUESTHUB_POSTGRES_SSLMODE=disable

REDIS_PORT=6380

OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4317
OTEL_SERVICE_NAME=questhub
LOG_FORMAT=ecs
LOG_FILE=./observability/logs/app.log 